body {
	background-color: #EEE;
	font-family: Roboto, Helvetica, Arial, sans-serif;
}
A.b {color:navy;}
A.c {color:blue;}
A.b:hover {text-decoration: underline;}
a {
	text-decoration: none;
	color: red;
}
A.class1:hover {text-decoration: underline; color: red;}
class1:hover {text-decoration: underline; color: red;}

h1, h2, h3 {
margin: 5px;
}

h1 {

	padding: 10px;
}

h3 {
	padding: 10px;
	text-align: center;
}

#container {
	background-color: white;
	width: 600 px;
	margin-left: 60px;
	margin-right: 60px;
}

#header {
	background-color: #F6CEE3;
	text-align: center;
	color: white;
}

#content {
 	padding: 10px;
	margin: 0px;
}

#pics {
	text-align: center;
}


#nav {
	width: 200px;
    height: 300px;
	float: left;
}

#nav ul {
	list-style-type: none;
	padding: 15px;
}

.selected {
	font-weight: bold;
}
	
#input {
    width: 500px
    
    }

#main {
	width: 500px;
	float: right;
	padding: 50px;
}

#footer {
 	clear: both;
	padding: 20 px;

	background-color: #999999;
	color: white;
	text-align: right;
}

* {
    box-sizing: border-box;
}

input[type=text], select, textarea {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.inputshit {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.col-25 {
    float: left;
    width: 18%;
    margin-top: 40px;
}
.col-26 {
    float: right;
    width: 60%;
    padding-right: 425px;
    padding-left: 25px;
    margin-top: 40px;
}
.col-27 {
    float: left;
    padding-top: 64px;
    width: 170px;
    }
.col-75 {
    float: middle;
    width: 100%;
    padding-top: 90px;
    background-color: #F6CEE3;
    margin-top: 16px;
}

#inputs {
    list-style-type: none;
      background: #3399ff;
      padding-top: 250px;
        padding: 20px;

}

#inputs li {
     background: #cce5ff;
  margin: 15px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .col-75, .col-25, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}


	