#dealercards {
     background-color: lightblue;
     padding: 0;
}


#playercards li {
      float:bottom;
         list-style-type: none;

      display: inline;
}

#gameboard {
      background-color: green;
        position: absolute;
       top: 40px; /* Header Height */
       bottom: 20px; /* Footer Height */
       width: 99%;
}
